services:
  - type: web
    name: cloudsync-backend
    env: node
    region: oregon
    branch: main
    repo: https://github.com/ShitalMeshram17/cloudsync-website
    plan: free

    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: ADMIN_JWT_SECRET
        sync: false

      - key: ADMIN_EMAIL
        sync: false

      - key: ADMIN_PASSWORD_HASH
        sync: false

      - key: SENDGRID_API_KEY
        sync: false

      - key: FROM_EMAIL
        sync: false
